<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>矢向の床屋 ヘアーサロン マリモ / 料金表</title>
<meta name="viewport" content="widht=device-width,initial-scale=1">
<!-- css -->
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/responsive.css">
<!-- favicon -->
<link rel="shortcut icon" href="/img/favicon.ico">
<link rel="apple-touch-icon" href="/img/iPhoneIcon.png">
<!-- javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../js/totop.js"></script>
<script src="../js/humbergerMenu.js"></script>
</head>
<body id="price">
<div id="container">

<header class="header">

<%- include('../include/_header', {}) %>

<p><img src="../img/priceTop.jpg" alt="料金表"></p>
</header>

<div id="globalHeader">
<nav class="menu">
<a href="#" id="panel-btn"><span id="panel-btn-icon"></span></a>
<ul id="panel">
<li class="home"><a href="/index.html"><div>ホーム</div></a></li>
<li class="price"><a href="index.html"><div>料金表</div></a></li>
<li class="access"><a href="/access/index.html"><div>交通アクセス</div></a></li>
<li class="info"><a href="/info/index.html"><div>店舗情報</div></a></li>
<li class="contact"><a href="/contact/index.html"><div>お問い合わせ</div></a></li>
</ul>
</nav>
</div><!-- /#globalHeader -->
<main class="main">
<h2 class="price-title">料金表</h2>
<p class="price-caution">※全て税込み価格となります</p>
<table class="price-table">
<thead class="price-table-head">
<tr>
<th>施述内容</th>
<th>価格</th>
</tr>
</thead>
<tbody class="price-table-body">
<tr>
<td>カット<br>(シャンプー、<br class="pcNone">シェービング、<br class="pcNone">ブロー込み)</td>
<td>メンズ　￥3,600　<br>レディース　￥3,500　<br>高校生　￥3,000　<br>中学生　￥2,500　<br>小学生　￥1,000～<br>幼児　￥1,000</td>
</tr>
<tr>
<td>カット＆シャンプー</td>
<td>￥2,500</td>
</tr>
<tr>
<td>カットのみ</td>
<td>￥2,000</td>
</tr>
<tr>
<td>シェービングのみ</td>
<td>メンズ　￥2,000　<br>レディース　￥2,500</td>
</tr>
<tr>
<td>シャンプーのみ</td>
<td>￥1,000</td>
</tr>
<tr>
<td>カラー</td>
<td>上記メニューにプラス<br>￥4,000</td>
</tr>
<tr>
<td>カラーのみ</td>
<td>￥5,000</td>
</tr>
<tr>
<td>白髪ぼかし</td>
<td>上記メニューにプラス<br>￥1,000</td>
</tr>
<tr>
<td>白髪ぼかしのみ</td>
<td>￥2,000</td>
</tr>
<tr>
<td>パーマ</td>
<td>上記メニューにプラス<br>￥7,500</td>
</tr>
</tbody>
</table>
</main>
</div><!-- /#container -->

<%- include('../include/_footer', {}) %>

<div id="to-top"><a href="#"><img src="../img/totop.gif" alt="トップへ"></a></div>
</body>
</html>
