<h1>矢向の床屋。尻手駅から徒歩10分の地域に密着したアットホームなお店です。</h1>
<div id="header">
<a href="index.html"><p class="title">ヘアーサロン マリモ</p></a>
<p class="detail">住　　所　　<a href="https://www.google.co.jp/maps/place/%E3%80%92230-0001+%E7%A5%9E%E5%A5%88%E5%B7%9D%E7%9C%8C%E6%A8%AA%E6%B5%9C%E5%B8%82%E9%B6%B4%E8%A6%8B%E5%8C%BA%E7%9F%A2%E5%90%91%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%96%E2%88%92%EF%BC%99/@35.5297717,139.675248,17z/data=!3m1!4b1!4m2!3m1!1s0x60185e3a421fe0a7:0xf6d15fe763ec888b" target="_blank">神奈川県横浜市鶴見区矢向1-6-9</a><br>
営業時間　　[9:00から18:30まで]</p>
</div><!-- /#header -->
<nav class="gnav">
<ul>
<li class="home"><a href="/index.html">ホーム</a></li>
<li class="price"><a href="/price/index.html">料金表</a></li>
<li class="access"><a href="/access/index.html">交通アクセス</a></li>
<li class="info"><a href="/info/index.html">店舗情報</a></li>
<li class="contact"><a href="/contact/index.html">お問い合わせ</a></li>
</ul>
</nav>