<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>矢向の床屋 ヘアーサロン マリモ</title>
<meta name="description" content="矢向の床屋、尻手駅から徒歩10分の地域に密着したアットホームなお店です。矢向の床屋、親切丁寧な接客でお客様をお待ちしております。矢向の床屋、カットのみ大人2000円でご提供。">
<meta name="viewport" content="widht=device-width,initial-scale=1">
<!-- css -->
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/responsive.css">
<!-- favicon -->
<link rel="shortcut icon" href="/img/favicon.ico">
<link rel="apple-touch-icon" href="/img/iPhoneIcon.png">
<!-- javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bxslider.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/totop.js"></script>
<script src="js/facebook.js"></script>
<script src="js/humbergerMenu.js"></script>
</head>
<body id="top">
<div id="container">
<header class="header">

<%- include('./include/_header', {}) %>

<div id="billboard">
<ul id="bxslider">
<li><img src="img/topimg/topcut.jpg" alt="カットのみ2000円からご提供"></li>
<li><img src="img/topimg/topinside.jpg" alt="昔ながらの方法、安心カットでお出迎え"></li>
<li><img src="img/topimg/top.jpg" alt="尻手駅から徒歩10分、矢向中学校のそばのヘアーサロン マリモ"></li>
</ul>
</div><!-- /#billboard -->
<nav class="bnav">
<ul>
<li><a href="/price/index.html" class="bprice">料金表</a></li>
<li><a href="/access/index.html" class="baccess">交通アクセス</a></li>
<li><a href="/info/index.html" class="binfo">店舗情報</a></li>
</ul>
</nav>
</header>
<div id="globalHeader">
<nav class="menu">
<a href="#" id="panel-btn"><span id="panel-btn-icon"></span></a>
<ul id="panel">
<li class="home"><a href="/index.html"><div>ホーム</div></a></li>
<li class="price"><a href="/price/index.html"><div>料金表</div></a></li>
<li class="access"><a href="/access/index.html"><div>交通アクセス</div></a></li>
<li class="info"><a href="/info/index.html"><div>店舗情報</div></a></li>
<li class="contact"><a href="/contact/index.html"><div>お問い合わせ</div></a></li>
</ul>
</nav>
</div><!-- /#globalHeader -->
<main class="main">
<div id="content">
<section class="about">
<h2>ごあいさつ</h2>
<p><span>当</span>店は南武線尻手駅から徒歩10分にある創業33年の理容室ヘアーサロン マリモです。<br><br>
<span>床</span>屋ならではの、最初から最後まで1対1で施術をさせていただきます。<br>
お店で使っているシャンプー、シェービングで使う石鹸、化粧品は髪にも肌にも良いものを使っています。<br><br>
<span>カ</span>ット中はお客様の要望通りに再現できるように、髪の傷みがなるべく無いように考えております。<br>
</p>
</section>
<section class="rest">
<h2>定休日情報</h2>
<iframe src="https://calendar.google.com/calendar/embed?src=h0ffaf9ee5bqqp1e8mtrglrfns%40group.calendar.google.com&showTitle=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;ctz=Asia%2FTokyo&amp;color=%23A32929" style="border-width:0" frameborder="0" scrolling="no"></iframe>
</section>
<section class="access">
<h2>交通アクセス</h2>
<p><a href="/access/index.html"><img src="img/topimg/map.png" alt="ヘアーサロン マリモへのマップ"></a></p>
<p class="access data">〒230-0001　横浜市鶴見区矢向1-6-9<br>
南武線尻手駅から徒歩10分<br>
最寄のバス停は川崎鶴見臨港バス「汐田総合病院前」
</p>
<p class="access detail"><a href="/access/index.html">詳細を見る</a></p>
</section>
</div><!-- /#content -->
<section class="sidebar">
<p><img src="img/topimg/about.jpg" alt="ヘアーサロン マリモ　金子"></p>
<p class="paragraph">ヘアーサロンマリモは<br>
地域に密着したアットホームなお店です。<br>
お客様のお越しをお待ちしておりますので<br>
ぜひお立ち寄りください。</p>
<h3>ヘアーサロン マリモ</h3>
<div class="fb-page" data-href="https://www.facebook.com/heairsalonmarimo" data-width="300" data-height="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/heairsalonmarimo"><a href="https://www.facebook.com/heairsalonmarimo">ヘアーサロンマリモ</a></blockquote></div></div>
</section>
</main>
</div><!-- /#container -->

<%- include('./include/_footer', {}) %>

<div id="to-top"><a href="#"><img src="img/totop.gif" alt="サイト上部へとぶ"></a></div>
<div id="fb-root"></div>
</body>
</html>
